  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Click to button to scrape --></a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/kimonjo67/scrapper" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>